pipeline/pl_failed_banks.json
{
	"name": "pl_failed_banks",
	"properties": {
		"activities": [
			{
				"name": "lk_banks",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n     etl_group\n\t,source_table\n\t,source_schema\n\t,source_container\n\t,source_file_path\n\t,source_file_name\n\t,target_container\n\t,target_file_path\n\t,target_file_name\n\t,processed_files\n\t,select_columns\n\t,is_enabled\n\t,is_truncate\n\t,is_drop_create\n\t,is_file_move\n\t,process_order\nFROM dbo.adf_config\nwhere 1=1\nAND is_enabled='Y'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_xenondb",
						"type": "DatasetReference",
						"parameters": {
							"p_schema": "dbo",
							"p_table": "adf_config"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Banks",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lk_banks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lk_banks').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ',item().source_schema,'.',item().source_table)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_xenondb",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": {
											"value": "@item().source_schema",
											"type": "Expression"
										},
										"p_table": {
											"value": "@item().source_table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet",
									"type": "DatasetReference",
									"parameters": {
										"p_container": {
											"value": "@item().source_container",
											"type": "Expression"
										},
										"p_file_path": {
											"value": "@item().source_file_path",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@concat(item().source_file_name,\nformatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyy-MM-ddTHHmmss'), '.parquet')\n\n\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_move_files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_source_file_container": {
										"value": "@item().source_container",
										"type": "Expression"
									},
									"p_source_file_path": {
										"value": "@item().source_file_path",
										"type": "Expression"
									},
									"p_source_file_spec": {
										"value": "@concat(item().source_file_name,'*.parquet')",
										"type": "Expression"
									},
									"p_target_file_container": {
										"value": "@item().target_container",
										"type": "Expression"
									},
									"p_target_file_path": {
										"value": "@item().target_file_path",
										"type": "Expression"
									},
									"p_target_file_spec": {
										"value": "@concat(item().source_file_name,'*.parquet')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}